<%= form_for(@user, html: {multipart: true}) do |f| %>
	<ul>
	<% @user.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>

	<p>
		<%= f.label :username %><br>
		<%= f.text_field :username %>
	</p>

	<p>
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :zipcode %><br>
		<%= f.text_field :zipcode %>
	</p>

	<p>
		<%= f.label :country %><br>
		<%= f.text_field :country %>
	</p>

	<p>
		<%= f.label :password %><br>
		<%= f.text_field :password %>
	</p>

	<p>
		<%= f.label :tag_list %><br>
		<%= f.text_field :tag_list %>
	</p>

	<p>
		<% if @user.image.exists? %>
			<%= image_tag @article.image.url, size: "50" %><br>
		<% end %>
			<%= f.label :image, "Attach an Image" %><br>
			<%= f.file_field :image %>
	</p>

	<p>
		<%= f.submit %><br>
	</p>

<% end %>
