<h1><%= @user.username %></h1>

<p>
	Tags:
	<% if @user.tags.length > 0 %>
		<% @user.tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag) %>
		<% end %>
	<% else %>
		<p>Uncategorized</p>
	<% end %><br>
</p>

<p>
	<% if @user.image.exists? %>
		<%= image_tag @user.image.url, size: "100" %>
	<% else %>
		<p> No image uploaded yet</p>	
	<% end %>
</p>


<p><%= @user.email %></p>
<p><%= @user.zipcode %></p>
<p><%= @user.country %></p>

<h3>Comments (<%= @user.comments.length %>)</h3>

<%= render partial: 'users/comment', collection: @user.comments %>

<%= link_to "delete", user_path(@user), method: :delete, data: {confirm: "Really delete the user?"} %>

<%= link_to "edit", edit_user_path(@user) %>

<%= render partial: "comments/form" %>

<%= link_to "<< Back to Users List", users_path %>


